
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron&display=swap');

header{
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 150px auto;
    background-color: #5a189a;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    padding: 60px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: 'Orbitron';
    font-size: xx-large;
}
nav a:hover {
    background-color: #1b00e6;
    text-decoration: underline;
}

.home-grid{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    margin: 20px 50px 100px 50px;
    
}

#logo_link {
    padding-top: 5px;
    padding-bottom: 5px;
    justify-self: center;
    align-self: center;
}
body {
    background-color: #fcfbfb; 
    font-family: 'Montserrat'; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
#content{
    max-width: 1500px ;
    margin: 0 auto;
    font-size: .6em;
    background-color: #242423;
}
.card-img{
    margin:0,  auto;
    border: 5px solid #242423;
}
#customized-hilts{
    grid-column: 1/2;
    grid-row: 1/2;
    height: auto; 
    width: auto;
    max-width: 550px;
    align-self: center;
    justify-self: center;
    box-shadow: 10px 10px 15px #5a189a;
}

.msg1{
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 20px;
    padding-left: 50px;
    background-color: gray;
    margin-top: 30px;
    text-align:center;
}
#card-print{
    grid-column: 2/3;
    grid-row: 2/3;
    margin-top: 50px;
    align-self: center;
    justify-self: center;
    box-shadow: 10px 10px 15px #5a189a;
    height: auto; 
    width: auto;
    max-width: 550px;


}
.msg2{
    grid-column: 1/2;
    grid-row: 2/3;
    padding: 20px;
    background-color: gray;
    text-align:center;
}
#button-box{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    align-self:flex-end;
    margin-bottom: 20px;
    justify-self: center;
}
.button-box{
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 1;
    align-self:flex-end;
    margin-bottom: 20px;
    justify-self: center;
}
.button-box, #button-box, #button-box1{
    background-color: #242423 ;
    color: white;
    text-decoration: none;
    font-family: 'Orbitron';
    font-weight: 600;
    text-align: center;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
    width: 200px;
    height: 30px;
 }
 .button-box:hover, #button-box:hover{
    background-color: #1b00e6;
    
}

/*customized hilts page*/
#card-img{
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 50px;
    align-self: center;
    justify-self: center;
    box-shadow: 10px 10px 15px #5a189a;
    height: auto; 
    width: auto;
    max-width: 600px;
    inline-size: auto;
}

#msg1{
    grid-column: 2/3;
    grid-row: 1/3;
    padding: 20px;
    padding-left: 50px;
    background-color: gray;
    margin-top: 30px;
    text-align:center;
}
#button-box1{
    grid-column: 2/3;
    grid-row: 1/2;
    z-index: 1;
    align-self:flex-end ;
    margin-bottom: -150px;
    justify-self: center;
}
/*Finding a PRINT page */
.card-img1{
    grid-column: 1/2;
    grid-row: 1/3;
    margin-left: 100px;
    margin-top: 50px;
    align-self: center;
    justify-self: center;
    box-shadow: 10px 10px 15px #5a189a;
    height: auto; 
    width: auto;
    max-width: 600px;
    inline-size: auto;
}



footer{
    background-color: #5a189a;
    text-decoration: underline;
    padding: 25px 50px;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer h3, #site-plan{
    color: white;
    font-weight: 300;
}
#site-plan:hover{
    background-color: #1b00e6;
}

footer .social img{
    padding-top: 15px;
}



@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
   .card-img { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    footer {
        margin-top: 25px;
    }
}    